<!DOCTYPE html>
<html lang="en">
  <!-- Start head -->
  <head>
    <meta charset="utf-8">
    <!-- CSS Styles -->
    <%= stylesheet_link_tag "bootstrap" %>

    <!-- Page title -->
    <title>API Mashathon Spin Results</title>
  </head>
  <!-- End head -->
  
  <!-- Start body -->
    <body>
    <div class="container">
      <div class="span6">
        <h1>#SuperAwesome Cloud API Mashathon Spin Results</h1>

        <p>For details on each API, see the <a href="http://community.topcoder.com/tco13/overview/api-hackathon/">official TCO Hackathon page</a>.</p>
      
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th> Username </th>
              <th> API </th>
            </tr>
          </thead>
          <tbody>
            <% @mashathons.each do |mashathon| %>
              <tr>
                <td>
                  <%=link_to mashathon.username, "/members/#{mashathon.username}" %>
                </td>
                <td>
                  <%= mashathon.apis.join(", ") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End .spinner-wrap -->
    </body>
  <!-- End body -->
</html>