/* line 3, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/submenu.css.scss */
ul.collapsible_menu li {
  position: relative;
}
/* line 5, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/submenu.css.scss */
ul.collapsible_menu li span.arrow {
  background-repeat: no-repeat;
  background-image: url(/assets/refinery/icons/up.gif);
  position: absolute;
  right: 10px;
  top: 13px;
  width: 11px;
  height: 7px;
  cursor: pointer;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/submenu.css.scss */
ul.collapsible_menu li.closed span.arrow {
  background-image: url(/assets/refinery/icons/down.gif);
}
/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/submenu.css.scss */
ul.collapsible_menu > div {
  width: 93%;
  margin: 0px auto;
}
