/* Tooltips CSS definitions */
/* line 3, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip {
  position: absolute!important;
  overflow: hidden;
  font-size: 13px;
  font-family: inherit;
  z-index: 10000!important;
  text-align: center;
}
/* line 10, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip .xtop, .tooltip .tooltip .xbottom {
  display: block;
  background: transparent;
  font-size: 1px;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip .xb1, .tooltip .tooltip .xb2, .tooltip .tooltip .xb3, .tooltip .tooltip .xb4 {
  display: block;
  overflow: hidden;
}
/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip .xb1, .tooltip .tooltip .xb2, .tooltip .tooltip .xb3 {
  height: 1px;
}
/* line 13, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip .xb2, .tooltip .tooltip .xb3, .tooltip .tooltip .xb4 {
  background: #606060;
  border-left: 1px solid #606060;
  border-right: 1px solid #606060;
}
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip .xbottom .xb2, .tooltip .tooltip .xbottom .xb3, .tooltip .tooltip .xbottom .xb4 {
  background: #606060;
}
/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip .xb1 {
  margin: 0 5px;
  background: #606060;
}
/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip .xb2 {
  margin: 0 3px;
  border-width: 0 2px;
}
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip .xb3 {
  margin: 0 2px;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip .xb4 {
  height: 2px;
  margin: 0 1px;
}
/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip .xboxcontent {
  margin: 0;
  color: #000;
  word-wrap: break-word;
  border-width: 4px 4px;
  border-style: solid;
  border-color: #606060;
  background-color: white;
  padding: 6px;
}
/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip .xb1, .tooltip .xb2, .tooltip .xb3, .tooltip .xb4 {
  border-color: #606060;
}

/* line 33, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/refinerycms-core-2.0.8/app/assets/stylesheets/refinery/tooltips.css.scss */
.tooltip-square .xtop, .tooltip-square .xbottom {
  display: none;
}
