<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

	    <div>
	        <div class="title"><h1>LOGIN REQUIRED</h1></div>

	        <p>You need to sign in or sign up before continuing.</p>

				  <a href="/users/confirmation/new">Didn&#x27;t receive confirmation instructions?</a><br />
				  <!-- add unlock instructions link -->   

				  <div style="padding-bottom: 50px"></div> 

			</div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->
