<%= content_wrapper do %>

  <div class="title"><h1>SITE ADMIN</h1></div>

	<div class="row-fluid">

		<div class="span6">
		  <h1>Generate Blog Fodder</h1>
		  <form action='/admin/blog_fodder'>
		  Challenge ID: <input type="text" name="challenge_id"> <div class="btn"><input type="submit" class="btn" value="Submit"></div>
		  </form>

		  <h1><br/>Record API Wheel Spin</h1>
		  <form action='/admin/api_spin' method="post">
		  <p>Member: <input type="text" name="membername"></p> 
		  <p>APIs: <input type="text" name="apis" style="width:350px"></p> 
		  <div class="btn"><input type="submit" class="btn" value="Submit"></div>
		  </form>
		 </div>


		 <div class="span6">
		  <h1>RSS Entries</h1>
		  <p><%= link_to "Update RSS Entries", admin_loadrss_path %></p>

		  <h1>Sal's Crappy Content Mgt System</h1>
		  <p>Enter your HTML code below and it will magically appear on the site immediately.</p>
		  <form action='/admin/cms' method="post">
		  <textarea name="content"></textarea>
		  <p><br/>
		  <select name="key">
		  	<option value="cms:headline">Headline (under logo)
		  </select></p>
		  <div class="btn"><input type="submit" class="btn" value="Submit"></div>
		  </form>

		 </div>	 

	</div>

<% end %>