<%= content_wrapper do %>

  <div class="title"><h1>CloudSpokes Site Administration</h1></div>

	<div class="row-fluid">

		<div class="span6">
		  <h1>Generate Blog Fodder</h1>
		  <form action='/admin/blog_fodder'>
		  Challenge ID: <input type="text" name="challenge_id"> <div class="btn"><input type="submit" class="btn" value="Submit"></div>
			</form>

		  <h1>Thurgood</h1>
		  <p>Submit a Submission Deliverable to Thurgood. Enter the SFDC Submission Deliverable ID: </p>
		  <form action='/admin/unleash_squirrel'>
		  <input type="text" name="submission_deliverable_id"> <div class="btn"><input type="submit" class="btn" value="Submit"></div>
			</form>					
		</div>

		<div class="span6">
		  <h1>Redis Management</h1>
		  <form action='/admin/redis_challenge'>
		  View Challenge by ID: <input type="text" name="challenge_id"> <div class="btn"><input type="submit" class="btn" value="Submit"></div>
			</form>

			<a href="/admin/redis_sync_all">Sync all challenges with redis</a>.
		</div>		

	</div>

<% end %>