<%= content_wrapper do %>

  <div class="title"><h1>CloudSpokes Site Administration</h1></div>

  <h3>View a Challenge from Redis</h3>
  <form action='/admin/redis_challenge'>
  Challenge ID: <input type="text" name="challenge_id"> <input type="submit">
	</form>

<% end %>