<div class="span4 sidebar">
    <h2>MY SETTINGS</h2>
    <%= build_menu('settings',selected_item) %>

    <h2>MY STUFF</h2>
    <%= build_menu('my_stuff',selected_item) %>

    <h2>REFERRAL PROGRAM</h2>
    <%= build_menu('referral',selected_item) %>

    <h2>SUBMISSIONS</h2>
    <%= build_menu('submissions',selected_item) %>
</div>