<div class="span3 sidebar">
    <h2>SETTINGS</h2>
    <%= build_menu('settings',selected_item) %>

    <h2>MY STUFF</h2>
    <%= build_menu('my_stuff',selected_item) %>

    <h2>REFERRALS</h2>
    <%= build_menu('referral',selected_item) %>

    <h2>JUDGING</h2>
    <%= build_menu('submissions',selected_item) %>
</div>