// Place all the styles related to the Admin::Challenge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Style the calendar custom widget */
#date-range {
  position:relative;
}

div.datepicker td.datepickerFuture a {
  color: black;
}

#s2id_admin_challenge_categories {

}

.plupload_container {
  padding: 0px;
}

#form_account select {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
}   

#challenges_filter input {
  min-height: 26px;
  padding: 4px 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
} 

#challenges_length select {
    min-height: 26px;
    padding: 4px 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none;
}   