<legend>Prizes</legend>

<div>
  <div id="prize-set">
    <% @prizes.each do |prize| %>
      <div class="well">
        <div class="control-group">
          <label class="control-label">Place</label>
          <div class="controls">
            <input type="number" name="admin_challenge[prizes][][place]" value='<%= prize.place %>'></input>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Prize</label>
          <div class="controls">
            <input type="number" name="admin_challenge[prizes][][prize]" value='<%= prize.prize %>'></input>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Points</label>
          <div class="controls">
            <input type="number" name="admin_challenge[prizes][][points]" value='<%= prize.points %>'></input>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Value</label>
          <div class="controls">
            <input type="number" name="admin_challenge[prizes][][value]" value='<%= prize.value %>'></input>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="controls">
  <hr />
  <a class='btn btn-info add-new-prize-set'>Add New Prize Set</a>
</div>