<%= content_wrapper do %>

	<div class="title"><h1>EDIT CHALLENGE <%= @challenge.challenge_id %></h1></div>
	<div class="pull-right"><%= link_to 'Back to Challenge List', admin_challenges_path %></div>
	<div class="span10">
		<%= render 'form' %>
	</div>

<% end %>	