<% challenge.comments.each do |comment| %>
  <%= render partial: "comment", locals: {comment: comment, challenge: challenge} %>
  <% comment.replies.each do |reply| %>
    <%= render partial: "comment", locals: {comment: reply} %>
  <% end %>
  <% if comment.id == params[:reply_to] %>
    <div class="reply-form">
      <%= render partial: "new_comment", locals: {challenge: challenge} %>
    </div>
  <% end %>
<% end %>

<hr/>

<% if params[:reply_to].blank? %>
  <%= render partial: "new_comment", locals: {challenge: challenge} %>
<% end %>