<% challenge.comments.each do |comment| %>
  <%= render partial: "comment", locals: {comment: comment, challenge: challenge} %>
  <% comment.replies.each do |reply| %>
    <%= render partial: "comment", locals: {comment: reply} %>
  <% end %>
<% end %>

<hr/>

<h4> Post a <%= params[:reply_to] ? "Reply" : "Comment" %> </h4>
<%= render partial: "new_comment", locals: {challenge: challenge} %>