<%= render partial: "shared/share_this" %>

<h2>Chrome Extension</h2>
<p>Install the <a href="https://chrome.google.com/webstore/detail/gdlkedihjlddoaplefphpmiibpnnpeap">CloudSpokes Chrome Extension</a> for quick and easy access to the latest
  CloudSpokes challenges, your payments, leaderboards and more!</p>