<% if current_user && current_user.challenge_admin?(challenge) %>
<%
=begin
<h2>ADMINISTRATION</h2>
<p>
  <a href="#">View submissions</a><br/>
  <a href="#">Edit this challenge</a>
</p>
=end 
%>
<% end %>