<% if %(task first2finish).include?(challenge.challenge_type.downcase) %>

	<h2>ABOUT</h2>
	
	<p><strong>This challenge is a first to finish task!</strong> We will judge the submissions in the order in which we receive them. If the first submission passes review the participant will be declared the winner. If the submission does not pass review, we will judge the next person's code and so on, until we either declare a winning submission or exhaust all submissions. We will only pay first place prize money. Feel free to submit even if other members have submitted before you. Their submissions may not pass. </p>

    <p><strong><%= pluralize(challenge.submissions, 'submission') %> for this challenge so far.</strong></p>

<% end %>