<% if challenge.assets.present? %>
<h2>ASSETS</h2>
<p><ul class="unstyled">
  <% challenge.assets.each do |asset| %>
    <li><%= link_to asset, "https://s3.amazonaws.com/#{ENV['AWS_BUCKET']}/challenges/#{params[:id]}/#{asset}", :target => '_blank' %></li>
  <% end %>
</ul></p>
<% end %>