<div class="title" style="margin-top:10px;margin-bottom:15px"><h1>RESUBMIT FOR THIS CHALLENGE</h1></div>

<p>Your submission has been judged and a final score determined. You can see the <%= link_to 'details of the scorecards here', results_challenge_path %>. If you would like to resubmit new deliverables for this challenge and start the judging process again, <%= link_to 'click here to remove existing scorecards and restart the submission process', reset_submission_challenge_path %>. Your existing assets will not be affected.</p>    