<h2>List of Registrants</h2>

<table class='table table-striped'>
  <thead>
    <tr>
      <% Participant.column_names.each do |column| %>
        <th><%= column.to_s.humanize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @participants %>
  </tbody>

</table>