<% content_for :head do %><title>Submissions (Restricted) - CloudSpokes</title><% end %>

<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

    <div class="title"><h1>ALL SUBMISSION FILES</h1></div>
    <div class="content">
        <% if @deliverables.empty? %>
            <div align="center"><strong>No files found for this challenge.</strong></div>
        <% end %>
    	<% @deliverables.each do |deliverable| %>
        <div class="well">
            Member: <%= link_to deliverable.username, member_path(deliverable.username) %><br/>
            Type: <%= deliverable.type %> - <%= link_to deliverable.url, deliverable.url, :target => '_blank' %><br/>
            Comments: <%= deliverable.comments %><br/>
        </div>
        <% end %>
    </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->