<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

    <div class="title"><h1>ALL SUBMISSIONS</h1></div>
    <div class="content">
    		<% @challenge.submission_deliverables.each do |deliverable| %>
        <div class="well">
            Member: <%= link_to deliverable.username, member_path(deliverable.username) %><br/>
            Type: <%= deliverable.type %> - <%= link_to deliverable.url, member_path(deliverable.url) %><br/>
            Comments: <%= deliverable.comments %><br/>
        </div>
        <% end %>
    </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->