/* GLOBAL STYLES
    -------------------------------------------------- */

/* TODO: this part is in creating, will be written by less and combined into boostrap
    -------------------------------------------------- */

.loginbar-wrapper {
  color: #9e9d9d;
  background: #535353;
  *zoom: 1;
}

.loginbar-wrapper:before,
.loginbar-wrapper:after {
  display: table;
  line-height: 0;
  content: "";
}

.loginbar-wrapper:after {
  clear: both;
}

.loginbar-wrapper .container {
  position: relative;
  z-index: 4;
}

.loginbar-wrapper ul.inline {
  float: left;
  margin: -4px 0 -5px 10px;
  *zoom: 1;
}

.loginbar-wrapper ul.inline:before,
.loginbar-wrapper ul.inline:after {
  display: table;
  line-height: 0;
  content: "";
}

.loginbar-wrapper ul.inline:after {
  clear: both;
}

.loginbar-wrapper ul.inline > li {
  float: left;
  padding: 2px;
}

.loginbar-wrapper.disabled {
  height: 7px;
  padding: 0;
}

.loginbar-wrapper.disabled div {
  display: none;
}

.loginbar-wrapper .logined {
  padding: 10px 0;
  *zoom: 1;
}

.loginbar-wrapper .logined:before,
.loginbar-wrapper .logined:after {
  display: table;
  line-height: 0;
  content: "";
}

.loginbar-wrapper .logined:after {
  clear: both;
}

.loginbar-wrapper input {
  width: 123px;
  height: 41px;
  padding: 0 10px;
  color: #787878;
  background: url("/assets/input-reverse.png") no-repeat;
  border: none;
}

.loginbar-wrapper .login-form input {
  float: left;
}

.loginbar-wrapper .login-form div.btn {
  float: left;
  margin-top: 2px;
  margin-left: 8px;
}

.loginbar-wrapper .login-form div.btn input {
  width: auto !important;
  margin-right: 0 !important;
}

.loginbar-wrapper .login {
  *zoom: 1;
}

.loginbar-wrapper .login:before,
.loginbar-wrapper .login:after {
  display: table;
  line-height: 0;
  content: "";
}

.loginbar-wrapper .login:after {
  clear: both;
}

.loginbar-wrapper .login > div {
  float: left;
  padding: 10px 12px;
  background: url("/assets/sep-login.png") right center no-repeat;
}

.loginbar-wrapper .login > div.last {
  float: right;
  padding-right: 0;
  background: none;
}

.loginbar-wrapper .login > div a,
.loginbar-wrapper .login > div span {
  line-height: 40px;
}

.loginbar-wrapper .login > div:first-child {
  padding-left: 0;
}

.icon-green {
  background: url("/assets/icons.png") 0 -78px no-repeat;
}

.icon-orange {
  background: url("/assets/icons.png") -10px -78px no-repeat;
}

.nav-wrapper {
  margin-bottom: 30px;
  clear: both;
}

.logo {
  display: block;
    margin: 30px 0 10px 0;
}
.navbar{
    position: relative;
}

.nav-wrapper .logo.active {
  background: url("/assets/nav-active.png") 170px top no-repeat;
}

.nav-wrapper .nav {
  float: right;
}

.footer-wrapper {
  padding-top: 92px;
  padding-bottom: 70px;
  background: #272727 url("/assets/footer-bg.png") left top repeat-x;
}

.footer-wrapper a {
  color: #ffffff;
}

.footer-wrapper .pull-left {
  margin-right: 80px;
}

.footer-wrapper .circle-orange {
  margin-bottom: 15px;
}

.footer-wrapper .links {
  margin-top: 10px;
}

a.circle-orange,
.prev,
.next {
  display: inline-block;
  *display: inline;
  width: 39px;
  height: 39px;
  overflow: hidden;
  background: url("/assets/circle_orange.png") no-repeat;
  *zoom: 1;
}

.circle-orange:hover {
  background-position: 0 -39px;
}

.circle-orange span,
.next span,
.prev span {
  display: inline-block;
  *display: inline;
  width: 38px;
  height: 39px;
  color: transparent;
  background-image: url("/assets/icons.png");
  background-repeat: no-repeat;
  *zoom: 1;
}

a.circle-orange-large {
  display: block;
  width: 71px;
  height: 71px;
  overflow: hidden;
  background: url("/assets/circle_orange.png") -40px 0 no-repeat;
}

a.circle-orange-large:hover {
  background-position: -39px -71px;
}

a.circle-orange-large span {
  display: block;
  width: 71px;
  height: 71px;
  text-indent: -1000px;
  background-image: url("/assets/icons.png");
  background-repeat: no-repeat;
}

.circle-orange:hover .github {
    background-position: -376px -273px;
}

.circle-orange:hover .facebook {
    background-position: -376px -351px;
}

.circle-orange:hover .twitter {
    background-position: -376px -312px;
}

.circle-orange:hover .linkedin {
    background-position: -376px -507px;
}

.circle-orange:hover .googleplus {
    background-position: -376px -390px;
}

.circle-orange:hover .salesforce {
    background-position: -376px -429px;
}

.circle-orange:hover .googleplus-small {
    background-position: -376px -468px;
}

.next span {
  background-position: 0 0;
}

.prev span {
  background-position: 0 -39px;
}

.github {
    background-position: -376px 0;
}

.facebook {
    background-position: -376px -78px;
}
.website{
    background-position: -376px -680px;
}
.twitter {
    background-position: -376px -39px;
}

.linkedin {
    background-position: -376px -234px;
}

.googleplus {
    background-position: -376px -117px;
}

.salesforce {
    background-position: -376px -156px;
}

.googleplus-small {
    background-position: -376px -195px;
}

.email {
  background-position: -376px -234px;
}

.print {
  background-position: -376px -273px;
}

.add {
  background-position: -376px -312px;
}

.pagination .circle-orange {
  margin: 0 25px;
}

.rss {
  padding-top: 5px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 39px;
  background: url("/assets/icon-rss.png") left center no-repeat;
}

h1.rss {
  padding-right: 26px !important;
  padding-left: 0;
  font-size: 24px;
  background: #ffffff url("/assets/icon-rss.png") right 8px no-repeat !important;
}

.content-wrapper {
  padding-bottom: 80px;
}

.content-wrapper .container {
  z-index: 1;
}

.content-wrapper .container > h2,
.content-wrapper .container > .row-fluid > [class^="span"] > h2 {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 35px;
  color: #ffffff;
  text-indent: 15px;
  background: #d1d1d1;
}

.title {
  margin: 25px 0;
  text-align: center;
  background: url("/assets/title-bg.png") left center repeat-x;
}

.container > .title:first-child,
.container > div:first-child > .title:first-child,
.container > div.row-fluid > div.span8 > .title:first-child,
.title + .content > .title:first-child {
  margin-top: 0;
}

.container > a + .title {
  margin-top: 20px;
}

.title h1 {
  padding: 0 10px;
  background: #fff;
}

.placement {
  position: relative;
  margin-bottom: 30px;
  color: #767575;
}

.placement .type.featured {
  font-size: 16px;
}

.placement a {
  display: block;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.span6 .placement a {
  margin-top: 10px;
}

.span6 .span6 .placement {
  font-weight: normal;
}

.span6 .span6 .placement a {
  margin-top: 30px;
  font-size: 16px;
  line-height: 20px;
}

.placement .prize {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.placement .place {
  position: absolute;
  top: -7px;
  right: 0;
  display: block;
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: #fff;
  background-image: url("/assets/place-bg.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}

.placement .place.p1 {
  background-position: 0 0;
}

.placement .place.p2 {
  background-position: 0 -47px;
}

.placement .place.p3 {
  background-position: 0 -94px;
}

.form-search {
    clear: right;
  position: relative;
  margin-top: 15px;
  margin-bottom: 30px;
}

.form-search .search-query {
    color: #ffffff;
    background: #999999;
    border: none;
    padding: 12px 40px 12px 12px;
    width: 292px !important;
}
.form-search .search-query::-webkit-input-placeholder {
  color: #ddd;
}
.form-search .search-query:-moz-placeholder {
  color: #ddd;
}
.form-search .search-query:-ms-input-placeholder {
  color: #ddd;
}

.form-search .btn-search {
  position: absolute;
  top: 12px;
  right: 15px;
  display: block;
  width: 24px;
  height: 24px;
  background: url("/assets/icon-search.png") right center no-repeat;
}

.filter {
  z-index: 2;
  padding-right: 0;
  font-size: 16px;
  color: #c1c0c0;
}

.filter label {
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 39px;
}

.filter select {
  width: 165px;
}

/* -------------
 * Textarea
 * ------------- */

/* -------------
 * Radios
 * ------------- */

.jqTransformRadioWrapper {
  display: block;
  float: left;
  margin: 0 4px;
  margin-top: 5px;
}

.jqTransformRadio {
  display: block;
  width: 18px;
  height: 19px;
  vertical-align: middle;
  background: transparent url(img/radio.gif) no-repeat center top;
}

/* -------------
 * Checkboxes
 * ------------- */

.checkbox {
  padding-left: 0;
}

span.jqTransformCheckboxWrapper {
  display: block;
  float: left;
  margin-right: 5px;
}

a.jqTransformCheckbox {
  display: block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: transparent url("/assets/checkbox.png") no-repeat 0 0;
}

.error a.jqTransformCheckbox {
  background-position: 0 -40px;
}

.error a.jqTransformChecked {
  background-position: 0 -20px;
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */

a.jqTransformChecked {
  background-position: 0 -20px;
}

/* Jqtransform Select
-------------------------------------------------*/

.jqTransformSelectWrapper {
  position: relative;
  float: left;
  width: 45px;
  height: 39px;
  margin-right: 10px;
}

.jqTransformSelectWrapper div span {
  position: absolute;
  float: none;
  height: 39px;
  padding: 0 10px;
  overflow: hidden;
  font-size: 14px;
  line-height: 39px;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  background: #f8941e;
}

.jqTransformSelectWrapper a.jqTransformSelectOpen {
  position: absolute;
  /*top: 1px;*/
  right: 0;
  display: block;
  width: 39px;
  height: 39px;
  background: #f8941e url("/assets/btn.png") no-repeat right center;
}

.jqTransformSelectWrapper a.jqTransformSelectOpen:hover {
  /*background-position: left -195px;*/
}

.jqTransformSelectWrapper ul {
  position: absolute;
  top: 37px;
  left: 0;
  z-index: 10;
  display: none;
  width: 38px;
  height: 150px;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: auto;
  list-style: none;
  background-color: #FFF;
  border-right: solid 1px #f8941e;
  border-bottom: solid 1px #f8941e;
  border-left: solid 1px #f8941e;
}

.jqTransformSelectWrapper ul a {
  display: block;
  padding: 10px 10px;
  font-size: 14px;
  color: #f8941e;
  text-decoration: none;
  background-color: #FFF;
}

.jqTransformSelectWrapper ul a.selected {
  color: #f8941e;
  background: #EDEDED;
}

.jqTransformSelectWrapper ul a:hover,
.jqTransformSelectWrapper ul a.selected:hover {
  color: #fff;
  background: #f8941e;
}

.jqTransformSelectWrapper select {
  display: none;
}

.form-horizontal .jqTransformSelectWrapper {
  height: 36px;
    border: 1px solid #d1d1d1;
}

.form-horizontal .jqTransformSelectWrapper div span {
  height: 36px;
  line-height: 36px;
  color: #787878;
  background: #ffffff;
}

.form-horizontal .jqTransformSelectWrapper a.jqTransformSelectOpen {
  top: 0;
  width: 36px;
  height: 36px;
  background: #ffffff url("/assets/select.png") no-repeat right top;
}

.form-horizontal .jqTransformSelectWrapper ul {
  border-right: solid 1px #d1d1d1;
  border-bottom: solid 1px #d1d1d1;
  border-left: solid 1px #d1d1d1;
}

.form-horizontal .jqTransformSelectWrapper ul a {
  color: #787878;
}

.form-horizontal .jqTransformSelectWrapper ul a:hover {
  color: #ffffff;
}

.form-horizontal select {
  width: 180px;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */

.jqTransformHidden {
  display: none;
}

/* -------------
 * Inputs
 * ------------- */

.error .jqTransformInputWrapper {
  background-position: right bottom;
}

.error .jqTransformInputInner {
  background-position: bottom left;
}

.jqTransformInputWrapper {
  float: left;
  height: 36px;
  padding: 0 3px 0 0;
  margin-right: 9px;
  margin-left: 2px;
  background: transparent url(/assets/input.png) no-repeat right top;
}

.jqTransformInputInner {
  padding: 0;
  margin: 0;
  margin-left: -3px;
  background: transparent url(/assets/input.png) no-repeat top left;
}

.jqTransformInputInner div {
  height: 36px;
  margin: 0 0px 0px 8px;
}

.jqTransformInputInner div input {
  height: 23px;
  padding: 0;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #787878;
  vertical-align: middle;
  border: none;
}

/*  IE6 */

/* Ie7 */

.jqTransformSafari .jqTransformInputInner div {
  position: relative;
  overflow: hidden;
}

.jqTransformSafari .jqTransformInputInner div input {
  height: 24px;
  padding: 0;
  margin-top: 8px;
}

.sidebar {
  padding-top: 28px;
}

.sidebar .links {
  margin-bottom: 30px;
}

.sidebar .links li {
  padding-left: 15px;
}

.sidebar .links li.active a {
  color: #787878;
}

.links {
  margin-left: 0;
  list-style: none;
}

.links li {
  line-height: 30px;
}

.challenge,
.judge,
.review {
  margin-bottom: 30px;
}

.review {
  line-height: 25px;
}

img.pull-left {
  margin-right: 10px;
}

.circle-gray {
  display: inline-block;
  *display: inline;
  width: 32px;
  height: 36px;
  margin-left: 8px;
  background: url("/assets/circle-gray-small.png") no-repeat;
  *zoom: 1;
}

h2.question {
  color: #5a5a5a !important;
  background: #d1d1d1;
}

h2.discussion {
  color: #fff !important;
  background: #1371bb !important;
}

h2.message {
  color: #fff;
  background: #535353 !important;
}

.case {
  position: relative;
  margin-bottom: 30px;
  *zoom: 1;
}

.case:before,
.case:after {
  display: table;
  line-height: 0;
  content: "";
}

.case:after {
  clear: both;
}

.case .pull-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.case h2 {
  margin-top: 0;
  font-weight: bold;
}

.case .detail {
  padding-left: 164px;
}

.case p {
  margin: 10px 0;
}

.type {
  position: absolute;
  top: -9px;
  right: 15px;
  width: 93px;
  height: 84px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background-image: url("/assets/type.png");
  background-position: left top;
  background-repeat: no-repeat;
}

.type td {
  vertical-align: middle;
}

.task {
  background-position: 0 0;
}

.sweep-stakes {
  background-position: -93px 0;
}

.code {
  background-position: -186px 0;
}

.rookie {
  background-position: -279px 0;
}

.design {
  background-position: -372px 0;
}

.featured {
  background-position: -465px 0;
}

.team {
  height: 100%;
}

.team .detail {
  padding-left: 100px;
}

.team .detail li {
  padding: 0;
}

.works {
  position: relative;
  display: block;
  width: 144px;
  height: 1100px;
  padding-top: 90px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  text-align: center;
}

.works .icon-large {
  margin: 3px 0;
}

.works .arrow-down {
  height: 58px;
  background: url("/assets/arrow.png") center top no-repeat;
}

.intro {
  position: absolute;
  top: 0;
  width: 425px;
}

.intro.arrow-left {
  padding-left: 12px;
  background: url("/assets/arrow-left.png") right center no-repeat;
}

.intro.arrow-right {
  padding-right: 12px;
  background: url("/assets/arrow-right.png") right center no-repeat;
}

.intro .well {
  margin-bottom: 0;
}

.relative {
  position: relative;
}

.scrollable,
.switch {
  position: relative;
  overflow: hidden;
}

.scrollable .items,
.switch .items {
  position: absolute;
  width: 20000em;
}

.scrollable .items .item,
.switch .items .item {
  float: left;
}

.switch {
  /*height: 952px;*/
}

.switch .item {
  width: 1024px;
}

#cleints .scrollable {
  width: 942px;
  height: 100px;
}

#cleints .item {
  width: 157px;
  height: 100px;
  background-image: url("/assets/clients.png");
}

#cleints .client-google {
  background-position: 0 0;
}

#cleints .client-medtronic {
  background-position: 0 -100px;
}

#cleints .client-salesforce {
  background-position: 0 -200px;
}

#cleints .client-box {
  background-position: 0 -300px;
}

#cleints .client-aau {
  background-position: 0 -400px;
}

#cleints .client-docusign {
  background-position: 0 -500px;
}

#cleints .client-jdrf {
  background-position: 0 -600px;
}

#cleints .client-panasonic {
  background-position: 0 -700px;
}

.slider {
  position: relative;
  margin: 0 40px;
}

.slider .prev,
.slider .next {
  position: absolute;
  top: 50%;
  display: block;
  width: 39px;
  height: 39px;
  margin-top: -20px;
  overflow: hidden;
  background-position: 1px 0;
}

.slider .prev {
  left: -40px;
}

.slider .next {
  right: -40px;
}

.slider .prev:hover,
.slider .next:hover {
  background-position: 1px 0;
}

.quotes .scrollable {
  width: 942px;
}

.quotes .item {
  width: 922px;
  padding-left: 20px;
  background: url("/assets/quote-l.png") left top no-repeat;
}

.quotes .item .quote {
  padding: 0 15px;
  padding-right: 20px;
  font-size: 20px;
  font-style: italic;
  line-height: 30px;
  background: url("/assets/quote-r.png") right bottom no-repeat;
}

#status > div {
  float: left;
  height: 129px;
  padding-left: 3px;
  margin-right: 0;
  margin-left: 11px;
  font-weight: bold;
  color: #ffffff;
  background: #136fb4;
}

#status > div > div {
  padding-right: 3px;
}

#status > div > div > div {
  width: 190px;
  height: 129px;
}

#status > div strong {
  display: block;
  padding-top: 30px;
  margin-bottom: 10px;
  font-size: 27px;
}

#status > div span {
  display: block;
  float: left;
  width: 57px;
  height: 53px;
  margin: 37px 12px;
  background: url("/assets/icons.png") 10px center no-repeat;
}

#status > div .icon-active-members {
  background-position: -117px 0;
}

#status > div .icon-competing-today {
  background-position: -117px -53px;
}

#status > div .icon-available-prize-money {
  background-position: -117px -106px;
}

#status > div .active-challenges {
  background-position: -117px -159px;
}

#status > div .counteries-working {
  background-position: -117px -212px;
}

#status > div:first-child {
  margin-left: 0;
}

#badges > a,
#badges > div {
  display: block;
  float: left;
  height: 129px;
  padding-left: 3px;
  margin-left: 50px;
  background: #136fb4;
}

#badges > a:first-child,
#badges > div:first-child {
  margin-left: 0;
}

#badges > a:hover {
  background-position: left -774px;
}

#badges > a:hover > div {
  background-position: right -903px;
}

#badges > a:hover > div table {
  background-position: left -1032px;
}

#badges a > div,
#badges > div > div {
  height: 129px;
  padding-right: 3px;
  color: #ffffff;
}

#badges a > div table,
#badges > div > div table {
  width: 300px;
  height: 129px;
}

#badges a > div table td,
#badges > div > div table td {
  text-align: left;
  vertical-align: middle;
}

#badges a > div table td span,
#badges > div > div table td span {
  display: block;
  width: 130px;
  height: 80px;
  margin: 0 10px 0 30px;
  background: url("/assets/icons.png") -174px 0 no-repeat;
}

#badges a > div table td span.badget-general,
#badges > div > div table td span.badget-general {
  background-position: -174px 0;
}

#badges a > div table td span.badget-tech,
#badges > div > div table td span.badget-tech {
  background-position: -174px -80px;
}

#badges a > div table td span.badget-dev,
#badges > div > div table td span.badget-dev {
  background-position: -174px -160px;
}

#badges > div {
  background-position: left -387px;
}

#badges > div > div {
  background-position: right -645px;
}

#badges > div > div table {
  background-position: right -516px;
}

#badges a:first-child div {
  margin-left: 0;
}

.controls div {
  color: #d7d7d7;
}

.help-inline {
  line-height: 36px;
}

.help-block {
  padding-left: 180px;
  clear: both;
}

.checkbox .help-inline {
  line-height: 20px;
}

ul.inline a {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.photo {
  border: 1px solid #d1d1d1;
}

.span8 > h1 {
  color: #787878;
}

.well.highlight {
  height: 285px;
}

.well.highlight h2,
.well.highlight li {
  margin-bottom: 15px;
}

.banner {
  position: relative;
}

.tab {
  width: 518px;
  margin: 30px auto;
  *zoom: 1;
}

.tab:before,
.tab:after {
  display: table;
  line-height: 0;
  content: "";
}

.tab:after {
  clear: both;
}

.tab a {
  display: block;
  float: left;
  width: 259px;
  height: 48px;
  font-size: 18px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  background: #f8941e;
}
.tab a.active{
    background: #999999;
}

.tab a:hover {
  text-decoration: none;
}

.tab a.tab-left {
  background-position: 0 0;
}

.tab a.tab-left:hover {
  background-position: 0 -96px;
}

.tab a.tab-left.active,
.tab a.tab-left.active:hover {
  background-position: 0 -48px;
}

.tab a.tab-right {
  background-position: right -48px;
}

.tab a.tab-right:hover {
  background-position: right -96px;
}

.tab a.tab-right.active,
.tab a.tab-right.active:hover {
  background-position: right 0;
}

.tab-large {
  width: 714px;
  margin: 55px auto 0 auto;
  *zoom: 1;
}

.tab-large:before,
.tab-large:after {
  display: table;
  line-height: 0;
  content: "";
}

.tab-large:after {
  clear: both;
}

.tab-large a {
  display: block;
  float: left;
  height: 65px;
  font-size: 24px;
  line-height: 65px;
  color: #fff;
  text-align: center;
  background: url("/assets/tab-large.png") left top;
}

.tab-large a span {
  display: block;
  width: 354px;
  height: 65px;
  background: url("/assets/tab-large.png") 0 -390px;
}

.tab-large a:hover {
  text-decoration: none;
}

.tab-large a:hover span {
  background-position: 0 -455px;
  background-repeat: repeat-x;
}

.tab-large a.active span {
  background-position: 0 -520px;
}

.tab-large a.tab-left {
  padding-left: 3px;
  background-repeat: no-repeat;
}

.tab-large a.tab-left:hover {
  background-position: 0 -65px;
}

.tab-large a.tab-left.active,
.tab-large a.tab-left.active:hover {
  background-position: 0 -130px;
}

.tab-large a.tab-right {
  padding-right: 3px;
  background-position: right -195px;
}

.tab-large a.tab-right:hover {
  background-position: right -260px;
}

.tab-large a.tab-right.active,
.tab-large a.tab-right.active:hover {
  background-position: right -325px;
}

.switch{
    font-size: 18px;
}

.res ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 10px;
}

.res li {
  font-size: 24px;
  color: #fff;
  background: #136fb4;
  text-align: center;
  padding: 20px 0;
}

.res li a {
  display: block;
  width: 30%;
  height: 140px;
  text-align: center;
}

.res li a:hover {
  text-decoration: none;
}

.res li a:hover span {
  background-position: -111px -64px;
}

.res li a span {
  display: block;
  width: 65px;
  height: 64px;
  margin-top: 23px;
  margin-bottom: 36px;
  margin-left: 39px;
  background: url("/assets/circle_orange.png") -111px 0 no-repeat;
}
.icon-large em {
    display: block;
    width: 114px;
    height: 114px;
}
.res li i,
.res li em{
    margin: 0 auto;
  display: block;
  width: 64px;
  height: 64px;
  background: url("/assets/icons.png") no-repeat;
}

.res li .icon-dev {
  background-position: -415px 0;
}

.res li .icon-resolve {
  background-position: -414px -64px;
}

.res li .icon-design {
  background-position: -414px -128px;
}

.res li .icon-challenge {
  background-position: -414px -192px;
}

.res li .icon-submission {
  background-position: -414px -256px;
}

.res li .icon-win {
  background-position: -414px -320px;
}

.res li .icon-app {
  background-position: -414px -384px;
}

.res li .icon-mobile {
  background-position: -414px -448px;
}

.res li .icon-analytics {
  background-position: -414px -512px;
}

.res li .icon-outsourced {
  background-position: -414px -576px;
}

.res li .icon-cloud {
  background-position: -414px -640px;
}

.res li .icon-team {
  background-position: -414px -706px;
}

.res p.clear{
    clear: both;
    padding-top: 10px;
    margin-bottom: 0;
    line-height: 150%;
}

.post {
  display: inline-block;
  *display: inline;
  margin-bottom: 40px;
  *zoom: 1;
}

.post-pagination {
  margin: 40px 0;
  line-height: 30px;
  background: #eeeeee;
}

.post-pagination a.pull-left {
  padding-left: 20px;
  margin-left: 5px;
  background: url("/assets/arrow-left2.png") left center no-repeat;
}

.post-pagination a.pull-right {
  padding-right: 20px;
  margin-right: 5px;
  background: url("/assets/arrow-right2.png") right center no-repeat;
}

.post .date {
  float: left;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  font-weight: bold;
  line-height: 16px;
  color: #fff;
  text-align: center;
  background: #d1d1d1;
}

.post .date span {
  display: block;
  width: 46px;
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  background: #1371bb;
}

.badge {
  margin-top: 20px;
  margin-bottom: 20px;
}

.badge h3 {
  font-weight: bold !important;
}

.badge .icon {
  display: block;
  width: 130px;
  height: 80px;
  margin: 0 auto;
  background: url("/assets/badges.png");
}

.badge .icon.force-cook {
  background-position: -260px 0;
}

.badge .icon.force-sous-chef {
  background-position: -260px -80px;
}

.badge .icon.force-master-chef {
  background-position: -260px -160px;
}

.badge .icon.cloud-foundry-apprentice {
  background-position: -260px -240px;
}

.badge .icon.cloud-foundry-journeyman {
  background-position: -260px -320px;
}

.badge .icon.cloud-foundry-blacksmith {
  background-position: -260px -400px;
}

.badge .icon.boxer {
  background-position: -260px -480px;
}

.badge .icon.box-featherweight {
  background-position: -260px -560px;
}

.badge .icon.box-middleweight {
  background-position: -260px -640px;
}

.badge .icon.box-heavyweight {
  background-position: -260px -720px;
}

.badge .icon.general-cloudspoker {
  background-position: 0 0;
}

.badge .icon.general-traveler {
  background-position: 0 -80px;
}

.badge .icon.general-adventurer {
  background-position: 0 -160px;
}

.badge .icon.general-ninja {
  background-position: 0 -240px;
}

.badge .icon.general-samurai {
  background-position: 0 -320px;
}

hr {
  height: 1px;
  background: #d1d1d1;
  border: 0;
}

.col5 .badge {
  float: left;
  width: 18%;
  margin-left: 20px;
}

.col5 .badge:first-child {
  margin-left: 0;
}

.techs {
  margin-bottom: 20px;
}

.techs li {
  padding: 0 !important;
  margin-left: 10px;
}

.techs li:first-child {
  margin-left: 0;
}

.techs a {
  display: block;
  width: 130px;
  height: 118px;
  overflow: hidden;
  text-indent: -1000px;
  background: url("/assets/badge-categories.png") no-repeat;
  border: 2px solid #F8941E;
}

.techs a:hover,
.techs a.active {
  border: 2px solid #787878;
}

.techs a.force {
  background-position: 0 0;
}

.techs a.gae {
  background-position: -150px 5px;
}

.techs a.aws {
  background-position: -295px 5px;
}

.techs a.vmware {
  background-position: -445px 5px;
}

.techs a.html5 {
  background-position: -590px 5px;
}

.techs a.ios {
  background-position: -735px 5px;
}

.techs a.android {
  background-position: -884px 5px;
}

.tip {
  position: relative;
  padding-left: 10px;
  background: #eeeeee;
  border: 1px solid #d1d1d1;
}

.tip .arrow {
  position: absolute;
  top: -14px;
  left: 50px;
  width: 27px;
  height: 14px;
  background: url("/assets/arrow-top.png") no-repeat;
}

.accordion-toggle {
  padding-left: 10px;
  background: url("/assets/arrow-down.png") left center no-repeat;
}

.accordion-toggle.collapsed {
  background: url("/assets/arrow-small-right.png") left center no-repeat;
}

.accordion-inner {
  padding-left: 20px;
}

.accordion-inner a {
  padding-left: 10px;
  background: url("/assets/arrow-small-right.png") left center no-repeat;
}

.subscribe .control-group {
  margin-bottom: 10px;
  *zoom: 1;
}

.subscribe .control-group:before,
.subscribe .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.subscribe .control-group:after {
  clear: both;
}

.subscribe label {
  font-size: 14px;
}

.subscribe label.rss {
  padding-left: 25px;
  background: url("/assets/icon-rss.png") left center no-repeat;
}

.subscribe .jqTransformSelectWrapper {
  margin-right: 0;
}

.subscribe select {
  width: 150px;
}

.btn-file {
  position: relative;
}

.btn-file input {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  background: transparent;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
}

.paid .id {
  display: inline-block;
  *display: inline;
  width: 250px;
  *zoom: 1;
}

.paid .prize {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.paid .place {
  position: absolute;
  top: -12px;
  right: 10px;
  display: block;
  width: 86px;
  height: 81px;
  font-size: 18px;
  font-weight: bold;
  line-height: 65px;
  color: #fff;
  text-align: center;
  background-image: url("/assets/place-bg-large.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}

.paid .place.p1 {
  background-position: 0 0;
}

.paid .place.p2 {
  background-position: 0 -81px;
}

.paid .place.p3 {
  background-position: 0 -162px;
}

.form-account label {
  width: auto !important;
  margin-left: 25px;
}

.form-account .controls {
  float: left;
  margin-left: 10px;
}

.form-account .jqTransformInputWrapper {
  margin-right: 0;
}

.form-account .controls-row > div:first-child label {
  width: 120px !important;
  margin-left: 0;
}

.form-account .controls-row > div:first-child .controls {
  float: none;
  margin-left: 130px;
}

.btn-add-email {
  margin-left: 10px;
}

.modal .placement a {
  margin-top: 20px;
}

#review-modal .control-group > label {
  width: 80px !important;
}

#review-modal .control-group .controls {
  margin-left: 100px;
}

.rating .weight {
  width: 5%;
}

.rating .desc {
  width: 55%;
}

.rating .level {
  width: 8%;
}

.rating .center {
  padding-right: 4%;
  text-align: center;
}

table.overview td {
  padding-bottom: 10px;
  vertical-align: top;
}

table.overview td.label {
  width: 180px;
}

table.overview td.sep {
  width: 30px;
}

.form-contact {
  width: 660px;
}

.form-contact .buttons {
  text-align: right;
}

.radio-filter .jqTransformRadioWrapper:first-child {
  margin-left: 0;
}

.menu span {
  padding: 0;
}

.menu span i {
  display: block;
  width: 36px;
  height: 39px;
  margin-left: 3px;
  color: transparent;
  background: url("/assets/icon-menu.png") center center no-repeat;
}

.btn-online {
  position: relative;
}

.btn-online:hover {
  cursor: default;
}

.btn-online span {
  width: 263px;
  padding: 0 !important;
}

.online {
  position: absolute;
  top: 46px;
  left: -1px;
  z-index: 200;
  display: none;
  width: 260px;
  height: 360px;
  background: #e9e9e7;
  border: 1px solid #9c9b99;
}

.online .member {
  padding: 10px;
  padding-right: 30px;
  background: url("/assets/icon-online.png") right -60px no-repeat;
  border-top: 1px solid #9c9b99;
}

.online .member.active {
  background-position: right 0;
}

.online .member:first-child {
  border-top: none;
}

.online .member img {
  border: 2px solid #e07a02;
}

.online .member a {
  display: block;
  float: left;
  width: 165px;
  height: 20px;
  overflow: hidden;
}

.online .viewport {
  position: relative;
  width: 254px;
  height: 360px;
  overflow: hidden;
}

.online .overview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
}

.online .thumb .end,
.online .thumb {
  background-color: #e07a02;
}

.online .scrollbar {
  position: relative;
  float: right;
  width: 5px;
}

.online .track {
  position: relative;
  width: 5px;
  height: 100%;
  background-color: #eee;
}

.online .thumb {
  position: absolute;
  top: 0;
  width: 5px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}

.online .thumb .end {
  width: 5px;
  height: 5px;
  overflow: hidden;
}

.online .disable {
  display: none;
}

.noSelect {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn-adv-search {
  float: right;
  padding-right: 20px ;
  margin-top: -20px;
  margin-bottom: 30px;
  font-size: 12px;
  background: url("/assets/arrow-orange-down.png") right center no-repeat;
}

.btn-adv-search.active {
  background-image: url("/assets/arrow-orange-up.png");
}

/*
  .form-adv-search
*/

.form-adv-search {
  padding-right: 20px;
}

.form-adv-search .option-show,
.form-adv-search .option-sort {
  margin-right: 30px;
}

.form-adv-search .control-group {
  float: left;
}

.form-adv-search .control-label {
  float: left;
}

.form-adv-search .controls {
  float: left;
  padding: 0;
  margin-left: 0;
}

.form-adv-search .option-include {
  width: 900px;
}

.form-adv-search .option-communities {
  margin-left: 10px;
}

.form-adv-search .option-communities .jqTransformSelectWrapper {
  margin-right: 0;
}

.form-adv-search label {
  width: auto !important;
  font-size: 14px;
  line-height: 39px;
  color: #787878;
}

.form-adv-search .control-label {
  font-size: 16px;
  color: #C1C0C0;
}

.form-adv-search .jqTransformRadio {
  margin-top: 9px;
}

.form-adv-search select {
  width: 130px;
}

.form-adv-search input {
  width: 130px;
}

.form-adv-search .option-money,
.form-adv-search .option-participants {
  margin-bottom: 0;
}

.form-adv-search .range-pane {
  width: 240px;
  clear: both;
}

.form-adv-search .range-pane .controls-row {
  margin-top: 10px;
}

.form-adv-search .range-pane .controls-row:first-child {
  margin-top: 0;
}

.form-adv-search .range-pane .controls-row .control-label {
  font-size: 14px;
}

.form-adv-search .select-pane {
  width: 215px;
  height: 100px;
  padding: 5px;
  margin-right: 15px;
  clear: both;
  background: #ffffff url("/assets/select-pane-bg.png") no-repeat;
}

.form-adv-search .select-pane label {
  float: none;
  margin-bottom: 10px;
  line-height: 20px !important;
}

.form-adv-search .select-pane .viewport {
  position: relative;
  width: 210px;
  height: 100px;
  overflow: hidden;
}

.form-adv-search .select-pane .overview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
}

.form-adv-search .select-pane .thumb .end,
.form-adv-search .select-pane .thumb {
  background-color: #e07a02;
}

.form-adv-search .select-pane .scrollbar {
  position: relative;
  float: right;
  width: 5px;
}

.form-adv-search .select-pane .track {
  position: relative;
  width: 5px;
  height: 100%;
  background-color: #eee;
}

.form-adv-search .select-pane .thumb {
  position: absolute;
  top: 0;
  width: 5px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}

.form-adv-search .select-pane .thumb .end {
  width: 5px;
  height: 5px;
  overflow: hidden;
}

.form-adv-search .select-pane .disable {
  display: none;
}

.form-adv-search .clearfix {
  clear: both;
}
.forgot-password-form #reset-username{
    margin-bottom: 0;
    margin-right: 10px;
}

body > .alert {
    display: none;
}

h2.center{
    background: none !important;
    color: #999 !important;
    text-align: center;
}

.navbar .btn-navbar{
    padding: 7px 10px;
}
.navbar .btn-navbar .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
    padding: 0;
}
.btn-navbar .icon-bar + .icon-bar {
    margin-top: 3px;
}

.nav li a{
    font-size: 16px;
    text-indent: 10px;
}
.tabbable .nav li a {
    text-indent: 0px;
}
.navbar .btn-navbar {
    display: none;
}

.navbar-inverse .nav-collapse .nav > li a{
    padding: 0 15px;
    text-indent: 0;
}
.navbar-inverse .nav-collapse .dropdown > a{
    padding-right: 35px !important;
}
.navbar-inverse .nav-collapse .nav > li li{
    width: 100%;
}
.navbar-inverse .nav-collapse .nav > li > a,
.navbar-inverse .nav-collapse .dropdown-menu a {
    color: #ffffff;
    background: #f8941e;
}
.navbar-inverse .nav-collapse .dropdown-menu a{
    padding-left: 0;
    margin-left: 0;
}
.navbar-inverse .nav-collapse .dropdown-menu a:hover {
    color: #f8941e;
    background-color: #fbead4;
}
.nav-collapse .dropdown-menu{
    padding: 0;
}