.box-wrapper {
  padding: 20px;
  margin: 20px 0;
  background: white;
  border: 1px solid #CCC;
  box-shadow: 6px 6px 12px #888;  
}

.search-form {
  a.toggle-options {
    color: #999;
    font-size: 12px;
    vertical-align: bottom;
  }
  input.query {
    margin-bottom: 0;
    padding: 4px;
    height: 28px;
  }
  .btn[type=submit] {
    line-height: 28px;
  }
  h5 {
    color: #999;
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 12px;
  }
  .inline {
    display: inline-block;
    margin-bottom: 0;
  }
  label.inline {
    
    vertical-align: middle;
    margin-right: 5px;
    background-color: #F8F8F8;
    padding: 3px;
    border-radius: 5px;    
    &:hover {
      background-color: #ccc;
      cursor: pointer;
    }
    input[type=radio], input[type=checkbox] {
      margin-top: -3px;
    }
  }
  input.prize-money {
    width: 50px;
  }
  input.participants {
    width: 30px;
  }
  .prize-money, .participants {
    span.middle {
      font-size: 30px;
    }
  }
}

.challenge-summary {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 900px;
  .summary {
    float: left;
    background-color: white;
    padding: 10px;
    width: 530px;
    border-radius: 5px;
    .name {
      font-size: 16px;
      margin-bottom: 5px;
      font-weight: normal;
      margin: 0 0 5px 0;
      a {
        color: #09F;
      }
    }
    .desc {
      color: #666;
    }
  }
  .status {
    float: left;
    padding: 10px;
    width: 330px;
    color: #000C4C;
    background-color: #eee;
    min-height: 5em;
    p {
      margin: 0;
    }
  }
}


.submission-wrapper {
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px #DDD;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
  h4 {
    margin-bottom: 20px;
  }
  textarea {
    width: 90%;
    height: 5em;
  }

  .deliverables {
    .deliverable {
      padding: 5px;
      line-height: 35px;
      border-bottom: 1px dashed #ccc;
      position: relative;
      .layer {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 5%;
        background-color: #000;
        width: 95%;
        height: 100%;
        opacity: 0.7;
        color: red;
        line-height: 2.7em;
        font-weight: bold;
        font-size: 1.2em;
      }
      .info {
        .type {
          float: left;
          width: 200px;
          color: #777;
          font-weight: bold;
        }
        .url {
          float: left;
          width: 600px;
          color: #666;
        }
        .actions {
          float: right;
          display: none;
        }
        
      }
      &:hover {
        background-color: #eee;
        .actions {
          display: block;
        }
      }
      .form-wrapper form {
        margin: 10px;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
      }
    }
  }
  .drag-drop-area {
    color: #999;
    border: 1px solid #ccc;
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    padding: 10px 20px;
    &.droppable {
      background-color: gray;
    }
  }
  .new-deliverable {
    form {
      margin-top: 20px;
      display: none;
    }
  }

  form.deliverable {
    div.error {
      color: red;
    }
    input.url {
      width: 90%;
    }
  }
}