<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<table with="100%" cellpadding="2" cellspacing="2">
	<tr>
		<td><a href="http://www.cloudspokes.com"><img src="https://s3.amazonaws.com/cs-public/email_images/cloudspokes-logo.png" width="75"></a></td>
		<td>&nbsp;&nbsp;</td>
		<td><h2><%= title %></h2></td>
	</tr>
	</table>