	<p>If you need help or have questions, please contact support@cloudspokes.com.</p>

	<p>Regards,<br/>
	The CloudSpokes Team<br/>
	// Let's build it</p>
		
	<%= render "followus" %>

	<p><a href="http://www.cloudspokes.com">http://www.cloudspokes.com</a></p>

  </body>
</html>