<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span8">
                <div class="title"><h1>OUTSTANDING REVIEWS</h1></div>

                <div class="review well well-large">
                    <h3><a href="#">Updatable Opportunity KPI Page</a></h3>
                    <div class="row-fluid">
                        <img src="/assets/photo.png" class="pull-left" alt=""/>
                        Member : <a href="#">Enreeco</a><br/>
                        Submitted : Dec 19th at 05:11 PM
                    </div>
                    <a class="btn pull-right-bottom" href="41_account_outstanding_reviews_review.html"><span>REVIEW</span></a>
                </div>

                <div class="review well well-large">
                    <h3><a href="#">Updatable Opportunity KPI Page</a></h3>
                    <div class="row-fluid">
                        <img src="/assets/photo.png" class="pull-left" alt=""/>
                        Member : <a href="#">Enreeco</a><br/>
                        Submitted : Dec 19th at 05:11 PM
                    </div>
                    <a class="btn pull-right-bottom" href="41_account_outstanding_reviews_review.html"><span>REVIEW</span></a>
                </div>

                <div class="review well well-large">
                    <h3><a href="#">Updatable Opportunity KPI Page</a></h3>
                    <div class="row-fluid">
                        <img src="/assets/photo.png" class="pull-left" alt=""/>
                        Member : <a href="#">Enreeco</a><br/>
                        Submitted : Dec 19th at 05:11 PM
                    </div>
                    <a class="btn pull-right-bottom" href="41_account_outstanding_reviews_review.html"><span>REVIEW</span></a>
                </div>

                <div class="review well well-large">
                    <h3><a href="#">Updatable Opportunity KPI Page</a></h3>
                    <div class="row-fluid">
                        <img src="/assets/photo.png" class="pull-left" alt=""/>
                        Member : <a href="#">Enreeco</a><br/>
                        Submitted : Dec 19th at 05:11 PM
                    </div>
                    <a class="btn pull-right-bottom" href="41_account_outstanding_reviews_review.html"><span>REVIEW</span></a>
                </div>

                <div class="review well well-large">
                    <h3><a href="#">Updatable Opportunity KPI Page</a></h3>
                    <div class="row-fluid">
                        <img src="/assets/photo.png" class="pull-left" alt=""/>
                        Member : <a href="#">Enreeco</a><br/>
                        Submitted : Dec 19th at 05:11 PM
                    </div>
                    <a class="btn pull-right-bottom" href="41_account_outstanding_reviews_review.html"><span>REVIEW</span></a>
                </div>

            </div>

            <%= render 'shared/account_menu', :selected_item => 'outstanding_reviews' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->