<!-- CONTENT
    ================================================== -->
<div class="content-wrapper">
<div class="container">
    <a href="40_account_outstanding_reviews.html" class="btn pull-left"><span>BACK</span></a>

    <div class="title"><h1>SCORECARD FOR GEORGEDYER</h1></div>
    <div class="content">
        <div class="title"><h1>SUBMITTED ASSETS</h1></div>
        <div class="well">
            Media : <a href="#">puff-master.zip</a><br/>
            Comments :zipped - source code - readme - docs<br/>
            Type : URL
        </div>
        <div class="well">
            Media : <a href="#">puff-master.zip</a><br/>
            Comments :zipped - source code - readme - docs<br/>
            Type : URL
        </div>
        <div class="well">
            Media : <a href="#">puff-master.zip</a><br/>
            Comments :zipped - source code - readme - docs<br/>
            Type : URL
        </div>
        <div class="well">
            Media : <a href="#">puff-master.zip</a><br/>
            Comments :zipped - source code - readme - docs<br/>
            Type : URL
        </div>

        <div class="title"><h1>NEW JUDGING GUIDELINES</h1></div>
        <p>Most criteria are scored on a scale of 1 (25%) to 4 (100%). By default, each criteria should start off with a score of 3(75%), which means that the solution was satisfactory (i.e., production quality) for this criteria. If the solution is outstanding in regards to this criteria, consider giving it a 4(100%). If the solution is less than production quality for this criteria, consider giving them a 2. If the solution is unacceptable for this criteria, consider giving them a 1.</p>
        <p>Take the unit testing criteria as an example. If the person did an satisfactory job (ie., the code could be deployed to a production environment) of writing unit tests and covering code, you might want to give them a 3 (75%). If they did a great job, then you could give them 4(100%) and if they did a poor job, you could consider giving them a 2(500%). If they did not provide unit tests at all, give them a 1(25%).</p>
        <p>If a criteria isn't applicable (eg., a question pertaining to the quality of a trigger but their solution does not contain a trigger), please give them a score equivalent to 3 (75%) as it will not negatively impact their chance of winning money.</p>
        <p>In addition to downloading and running a participant's code and test cases, inspecting code and viewing any included documentation and videos, please make sure you read all of posts on the challenge discussion board. There may be comments from participants or CloudSpokes team members that may impact the judging process.</p>
        <p>If you need more info, we've put together a 3 minute overview video on scoring challenges.</p>
        <p>Comments! Comments! Comments! Comments are extremely important to the developers that submit code and are one of the key features of CloudSpokes. Please do not leave them blank or enter comments like 'No Comment' or 'Nothing'. Make an effort to enter comments that explain your score or, even better, ways to make their code better.</p>
        <p>Remember, participants are only eligible for money if they score 75%+ for the total scorecard. If we are awarding money for multiple places, then please score accordingly.</p>

        <form class="form-horizontal jqTransform">
            <div class="title"><h1>CODE QUALITY - 35%</h1></div>
            <div class="well rating">
                <table>
                    <tr>
                        <td rowspan="2" class="weight">50%</td>
                        <td rowspan="2" class="desc">Does the code follow best practices for the platform chosen?
                            Does the code take advantage of the coding platform where possible?
                        </td>
                        <td colspan="2" class="center">Unsatisfactory</td>
                        <td colspan="2">Exceeded Expectations</td>
                    </tr>
                    <tr>
                        <td class="level"><input type="radio" value="1" name="q1" >1</td>
                        <td class="level"><input type="radio" value="2" name="q1">2</td>
                        <td class="level"><input type="radio" value="3" name="q1">3</td>
                        <td class="level"><input type="radio" value="4" name="q1">4</td>
                    </tr>
                </table>
            </div>
            <div class="well rating">
                <table>
                    <tr>
                        <td rowspan="2" class="weight">20%</td>
                        <td rowspan="2" class="desc">Does the code follow best practices for the platform chosen?
                            Does the code take advantage of the coding platform where possible?
                        </td>
                        <td colspan="2" class="center">Unsatisfactory</td>
                        <td colspan="2">Exceeded Expectations</td>
                    </tr>
                    <tr>
                        <td class="level"><input type="radio" value="1" name="q2" >1</td>
                        <td class="level"><input type="radio" value="2" name="q2">2</td>
                        <td class="level"><input type="radio" value="3" name="q2">3</td>
                        <td class="level"><input type="radio" value="4" name="q2">4</td>
                    </tr>
                </table>
            </div>
            <div class="well rating">
                <table>
                    <tr>
                        <td rowspan="2" class="weight">30%</td>
                        <td rowspan="2" class="desc">Does the code follow best practices for the platform chosen?
                            Does the code take advantage of the coding platform where possible?
                        </td>
                        <td colspan="2" class="center">Unsatisfactory</td>
                        <td colspan="2">Exceeded Expectations</td>
                    </tr>
                    <tr>
                        <td class="level"><input type="radio" value="1" name="q3" >1</td>
                        <td class="level"><input type="radio" value="2" name="q3">2</td>
                        <td class="level"><input type="radio" value="3" name="q3">3</td>
                        <td class="level"><input type="radio" value="4" name="q3">4</td>
                    </tr>
                </table>
            </div>

            <div class="title"><h1>REQUIREMENTS - 40%</h1></div>
            <div class="well rating">
                <table>
                    <tr>
                        <td rowspan="2" class="weight">50%</td>
                        <td rowspan="2" class="desc">Does the code follow best practices for the platform chosen?
                            Does the code take advantage of the coding platform where possible?
                        </td>
                        <td colspan="2" class="center">Unsatisfactory</td>
                        <td colspan="2">Exceeded Expectations</td>
                    </tr>
                    <tr>
                        <td class="level"><input type="radio" value="1" name="q3" >1</td>
                        <td class="level"><input type="radio" value="2" name="q3">2</td>
                        <td class="level"><input type="radio" value="3" name="q3">3</td>
                        <td class="level"><input type="radio" value="4" name="q3">4</td>
                    </tr>
                </table>
            </div>
            <div class="well rating">
                <table>
                    <tr>
                        <td rowspan="2" class="weight">50%</td>
                        <td rowspan="2" class="desc">Does the code follow best practices for the platform chosen?
                            Does the code take advantage of the coding platform where possible?
                        </td>
                        <td colspan="2" class="center">Unsatisfactory</td>
                        <td colspan="2">Exceeded Expectations</td>
                    </tr>
                    <tr>
                        <td class="level"><input type="radio" value="1" name="q3" >1</td>
                        <td class="level"><input type="radio" value="2" name="q3">2</td>
                        <td class="level"><input type="radio" value="3" name="q3">3</td>
                        <td class="level"><input type="radio" value="4" name="q3">4</td>
                    </tr>
                </table>
            </div>

            <div class="title"><h1>OVERALL - 25%</h1></div>
            <div class="well rating">
                <table>
                    <tr>
                        <td rowspan="2" class="weight">100%</td>
                        <td rowspan="2" class="desc">Does the code follow best practices for the platform chosen?
                            Does the code take advantage of the coding platform where possible?
                        </td>
                        <td colspan="2" class="center">Unsatisfactory</td>
                        <td colspan="2">Exceeded Expectations</td>
                    </tr>
                    <tr>
                        <td class="level"><input type="radio" value="1" name="q3" >1</td>
                        <td class="level"><input type="radio" value="2" name="q3">2</td>
                        <td class="level"><input type="radio" value="3" name="q3">3</td>
                        <td class="level"><input type="radio" value="4" name="q3">4</td>
                    </tr>
                </table>
            </div>

            <div class="control-group">
                <label class="control-label">Comments</label>
                <div class="controls">
                    <textarea class="span10"></textarea>
                </div>
            </div>

            <p><strong>Before submitting</strong>: Please look at your comments again. This is the only feedback that developers will receive for their hard work. Do your comments clearly explain why you gave certain scores, what they could have done better or why another submission was superior?</p>

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox">Check this box and 'Submit Scorecard' to delete if not a valid
                        scorecard.
                    </label>
                </div>
            </div>

            <div class="control-group">
                <div class="controls pull-right">
                    <a class="btn"><span>SUBMIT SCORECARD</span></a>
                    <a class="btn"><span>SAVE FOR LATER</span></a>
                </div>
            </div>
        </form>
    </div>
</div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->