<% content_for :head do %><title>Search</title><% end %>

<%= content_wrapper do %>

<div class="title"><h1>MEMBER ACTIVITY</h1></div>

<iframe src="http://coronabaer.herokuapp.com" width="100%" height="700" frameborder="0"></iframe>

</div>

<% end %>