<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//status-page-production.s3.amazonaws.com/se.js"></script>
<script type="text/javascript">
  window.fetchStatusPage({
    pageId: 'cykcdprl7zgm',
    renderTo: '#official-system-status',
    successCallback: function(data) {   // optional, for full control of data returned  
      // do something with the data here
      //console.log(data.status.description);
    }
  });
</script>  

<% content_for :head do %><title>Whoops!</title><% end %>

<%= content_wrapper do %>

<div class="title"><h1>WHOOPS!</h1></div>

<div class="row-fluid">

  <div class="span2"></div>

  <div class="span4">
    <%= image_tag('whoops-storm-trooper.jpg') %>
  </div>

  <div class="span4">
    <p>We've had a small problem but we've recovered from it. Everything is going to be OK.</p>
    <p><b>Try hitting the back button</b> and attempting your last request again or perhaps you'd like to visit our <%= link_to 'home page', :root %> or <%= link_to 'list of open challenges', challenges_path %>?</p>

        <strong><span id="official-system-status"></span></strong>
  </div>  

</div>

<% end %>