<!DOCTYPE html>
<html lang="en" ng-app="madison">
<head>
  <title>Madison</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
  
  <%= javascript_include_tag "madison" %>

  <%= include_gon %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div ng-view="ng-view"></div>
</div>
</body>
</html>
