<h2>List of Members</h2>

<table class='table table-striped'>
  <thead>
    <tr>
      <% Member.column_names.each do |column| %>
        <th><%= column.to_s.humanize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @members %>
  </tbody>

</table>