<% content_for :head do %><title>Leaderboard- CloudSpokes</title><% end %>

<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div>
            <div class="title"><h1>LEADERBOARD</h1></div>
        </div>

        <center>The leaderboard is no longer available. <a href="http://www.youtube.com/watch?v=GszHR6ZrC_w">Sorry</a>.</center>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->