<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span8">
                <div class="title"><h1>MY ACTIVE CHALLENGES</h1></div>

                <div class="challenge well well-large">
                    <h3><a href="#">Backbonify the FlexiFilter, take 2</a></h3>
                    Registered<br/>
                    <strong>$1,400 for Javascript</strong><br/>
                    Completed<br/>
                    Tags: <a href="#">javascript</a> | <a href="#">google</a> | <a href="#">ruby</a>
                    <a class="btn pull-right-bottom" href="#"><span>SUBMIT</span></a>
                </div>

                <div class="challenge well well-large">
                    <h3><a href="#">Nostra-GAMME Fully Enters the Clouds</a></h3>
                    Registered<br/>
                    <strong>$1,400 for Javascript</strong><br/>
                    Completed<br/>
                    Tags: <a href="#">javascript</a> | <a href="#">google</a> | <a href="#">ruby</a>
                    <a class="btn pull-right-bottom" href="#"><span>SUBMIT</span></a>
                </div>

                <div class="challenge well well-large">
                    <h3><a href="#">NMake Devise and Salesforce Coexist Peacefully</a></h3>
                    Registered<br/>
                    <strong>$1,400 for Javascript</strong><br/>
                    Completed<br/>
                    Tags: <a href="#">javascript</a> | <a href="#">google</a> | <a href="#">ruby</a>
                    <a class="btn pull-right-bottom" href="#"><span>SUBMIT</span></a>
                </div>

                <div class="challenge well well-large">
                    <h3><a href="#">Predict Challenge Submissions with Google Prediction API</a></h3>
                    Registered<br/>
                    <strong>$1,400 for Javascript</strong><br/>
                    Completed<br/>
                    Tags: <a href="#">javascript</a> | <a href="#">google</a> | <a href="#">ruby</a>
                    <a class="btn pull-right-bottom" href="#"><span>SUBMIT</span></a>
                </div>

                <div class="title"><h1>MY FOLLOWED CHALLENGES</h1></div>
                <p>No followed challenge found</p>
            </div>

            <%= render 'shared/account_menu', :selected_item => 'challenges' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->