<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span8">
                <div class="title"><h1>CHANGE YOUR PASSWORD</h1></div>
                <p>To change your password we will email you a temporary passcode. You will then need to use this passcode to change your password.</p>
                <a class="btn"><span>Send me a passcode</span></a>

            </div>

            <%= render 'shared/account_menu', :selected_item => 'change_password' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->