<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span9">
                <div class="title"><h1>RESET YOUR PASSWORD</h1></div>
                    <p><strong>You can no longer update your account information here. Please <%= link_to 'log into TopCoder', 'http://www.topcoder.com'%> and update your profile.</strong></p>

            </div>

            <%= render 'shared/account_menu', :selected_item => 'change_password' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->