<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span8">
                <div class="title"><h1>MY COMMUNITIES</h1></div>

                <div class="challenge well well-large">
                    <h3><a href="#">AAU</a></h3>
                    <p>The Academy of Art University is partnering with CloudSpokes to bring a unique set of challenges to our students. These challenges are going to be focussed on various aspects of design (creative design, wireframing, HTML/CSS) because there is a ton of untapped talent in our student community that can</p>
                    Members : 72
                </div>

                <div class="challenge well well-large">
                    <h3><a href="#">AAU</a></h3>
                    <p>The Academy of Art University is partnering with CloudSpokes to bring a unique set of challenges to our students. These challenges are going to be focussed on various aspects of design (creative design, wireframing, HTML/CSS) because there is a ton of untapped talent in our student community that can</p>
                    Members : 72
                </div>

                <div class="challenge well well-large">
                    <h3><a href="#">AAU</a></h3>
                    <p>The Academy of Art University is partnering with CloudSpokes to bring a unique set of challenges to our students. These challenges are going to be focussed on various aspects of design (creative design, wireframing, HTML/CSS) because there is a ton of untapped talent in our student community that can</p>
                    Members : 72
                </div>

                <div class="challenge well well-large">
                    <h3><a href="#">AAU</a></h3>
                    <p>The Academy of Art University is partnering with CloudSpokes to bring a unique set of challenges to our students. These challenges are going to be focussed on various aspects of design (creative design, wireframing, HTML/CSS) because there is a ton of untapped talent in our student community that can</p>
                    Members : 72
                </div>
            </div>

            <%= render 'shared/account_menu', :selected_item => 'communities' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->