<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span8">
                <div class="title"><h1>INVITE YOUR FRIENDS</h1></div>
                <p>Every time that someone you referred to CloudSpokes wins money, so will you! During their first year, you’ll earn 10% of all money that your friends win competing in CloudSpokes challenges. So if a friend wins $1000 in a coding challenge, we’ll give you an additional $100.</p>
                <p>Refer as many friends as you like. Here’s your invite code for you to give out:</p>
                <h1><a href="http://www.cloudspokes.com/signup/avgeek">http://www.cloudspokes.com/signup/avgeek</a></h1>
                <br/>
                <p>Send invites to your friends using the handy invite form below.</p>
                <form class="form-email jqTransform">
                    <input placeholder="Email address..."/><a class="btn"><span>send invites</span></a><a href="#" class="btn-add-email">Add Email</a>
                </form>

            </div>

            <%= render 'shared/account_menu', :selected_item => 'invite_friends' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->