<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span8">
                <div class="title"><h1>PAYMENT INFO</h1></div>
                <p>If you've won money from a challenge here is how you get it. Make sure you check here often to ensure we are not waiting on something from you. Payments are paid on dates depending on the method that you define below. Please see the <a href="#">CloudSpokes calendar</a> for specific payment dates for types of payment. If you have any questions, please contact us at <a href="mailto:support@cloudspokes.com">support@cloudspokes.com</a>.</p>
                <p>In order for us to send your payments, you need to complete the appropriate tax form. If you are a US citizen, please complete this <a href="#">W-9 tax form</a>. If you are not a US citizen, please complete this <a href="#">W-8BEN tax form</a>. You only need to fill out this tax form once per year and we will keep it on file.</p>

                <form class="form-horizontal jqTransform">
                    <div class="control-group">
                        <label class="control-label">Preferred Payment</label>
                        <div class="controls">
                            <select>
                                <option>PayPal</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Paperwork Sent:</label>
                        <div class="controls">
                            Paper Work Received
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Paperwork Sent</label>
                        <div class="controls">

                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Paperwork for Year</label>
                        <div class="controls">
                            2012
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Paypal Address</label>
                        <div class="controls">
                            <input type="text" value="invisiblepilot@gmail.com"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label></label>
                        <div class="controls"><a class="btn"><span>SUBMIT</span></a></div>
                    </div>
                </form>


                <div class="title"><h1>OUTSTANDING</h1></div>
                <p>No outstanding payments found. </p>


                <div class="title"><h1>PAID</h1></div>
                <div class="well well-large paid">
                    <span class="id">ID : PAY-2670</span>					Ref # : 13386<br/>
                    Challenge : Branding Challenge<br/>
                    Reason : Contest payment<br/>
                    Type:<br/>
                    Date :<br/>
                    <span class="prize">$1,550</span>
                    <span class="place p1">1st</span>
                </div>

            </div>

            <%= render 'shared/account_menu', :selected_item => 'payment_info' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->