<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span8">
                <div class="title"><h1>EDIT PUBLIC PROFILE</h1></div>
                <p>The community wants to get to know you. Who is that brainiac writing those compliant, minified lines of code? Show you’re really not a robot and write a little something about yourelf. Note that the information you provide below is public and anyone can see it, including your boss.</p>

                <h1>NOT -- PLEASE USE CLOUDINARY HEROKU ADDON</h1>

                <form class="form-horizontal jqTransform">
                    <div class="control-group">
                        <label class="control-label">Profile Photo</label>
                        <div class="controls">
                            <img src="/assets/avatar.png" alt="" class="photo pull-left"/>
                            <div class="btn-file">
                                <a href="#" class="btn btn-grey"><span>CHOOSE FILE</span></a>
                                <input type="file"/><spam>No file chosen</spam>
                            </div>
                            <a href="#" class="btn btn-grey"><span>UPLOAD</span></a>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label">Summary / Bio</label>
                        <div class="controls">
                            <div class="textarea">
                                <textarea>I have worked primarily in UX design + development since 1996, with an emphasis on designing iOS + Android mobile applications for the past 4 years.I currently manage creative projects and related remote resources for corporate clients, on a per-project basis.</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Quote</label>
                        <div class="controls">
                            <div class="textarea">
                                <textarea>“The cure for boredom is curiosity. There is no cure for curiosity.”</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Site / Blog</label>
                        <div class="controls">
                            <input type="text" placeholder="placeholder" class="input-xxlarge" value="http://invisiblepilot.com/">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Twitter Username</label>
                        <div class="controls">
                            <input type="text" placeholder="placeholder" class="input" value="invisiblepilot">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Github Username</label>
                        <div class="controls">
                            <input type="text" placeholder="placeholder" class="input" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Facebook Url</label>
                        <div class="controls">
                            <input type="text" placeholder="placeholder" class="input" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Linkedin Url</label>
                        <div class="controls">
                            <input type="text" placeholder="placeholder" class="input-xxlarge" value="http://invisiblepilot.com/">
                        </div>
                    </div>
                    <div class="control-group">
                        <a class="btn pull-right"><span>SUBMIT</span></a>
                    </div>
                </form>

            </div>

            <%= render 'shared/account_menu', :selected_item => 'public_profile' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->