<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span8">
                <div class="title"><h1>REFERRED CLOUDSPOKES MEMBERS</h1></div>
                <p>Here are the CloudSpokes members that you have personally referred. Every time that someone you referred wins money, so will you! During their first year, you’ll earn 10% of all money that your friends win competing in CloudSpokes challenges. So if a friend wins $1000 in a coding challenge, we’ll give you an additional $100.</p>
                <h2><a href="#">Invite your friends to join CloudSpokes!</a></h2>

                <div class="row-fluid">
                    <div class="span6 well well-large">
                        <img src="/assets/avatar.png" class="pull-left photo" alt=""/>
                        <h2><a href="#">cabargues</a></h2>
                        Joined: Dec 19, 2012<br/>
                        Money won: <strong>$300</strong><br/>
                        Your Referral Bonus: <strong>$30</strong>
                    </div>
                    <div class="span6 well well-large">
                        <img src="/assets/avatar.png" class="pull-left photo" alt=""/>
                        <h2><a href="#">cabargues</a></h2>
                        Joined: Dec 19, 2012<br/>
                        Money won: <strong>$300</strong><br/>
                        Your Referral Bonus: <strong>$30</strong>
                    </div>
                </div>
            </div>

            <%= render 'shared/account_menu', :selected_item => 'referred_members' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->