<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span8">
                <div class="title"><h1>SCHOOL & WORK INFO</h1></div>
                <p>Please consider filling out your school and work information. We will not reveal your information outside of CloudSpokes, but the additional demographic information is helpful when getting companies to post jobs to our job boards.</p>

                <form class="form-horizontal jqTransform">

                    <div class="control-group">
                        <label class="control-label">Company</label>
                        <div class="controls">
                            <input type="text" placeholder="placeholder" class="input-medium" value="Audio Visual Geek">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">School / University</label>
                        <div class="controls">
                            <input type="text" placeholder="placeholder" class="input-medium" value="University of MN">
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label">Shirt Size</label>
                        <div class="controls">
                            <input type="text" placeholder="placeholder" value="M-Small" class="input-mini">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Work Status</label>
                        <div class="controls">
                            <select>
                                <option>Contractor</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Shirt Size</label>
                        <div class="controls">
                            <select>
                                <option>M-Small</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Age Range</label>
                        <div class="controls">
                            <select>
                                <option>31-40</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Gender</label>
                        <div class="controls">
                            <select>
                                <option>Female</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label></label>
                        <div class="controls">
                            <a class="btn"><span>SUBMIT</span></a>
                        </div>
                    </div>
                </form>

            </div>

            <%= render 'shared/account_menu', :selected_item => 'school_and_work' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->