<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="title"><h1>SIGN UP</h1></div>
        Click the Register above button to get started.

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->